[submodule "themes/black-and-light"]
	path = themes/black-and-light
	url = git@github.com:davidhampgonsalves/hugo-black-and-light-theme.git
[submodule "themes/leave-it"]
	path = themes/leave-it
	url = git@github.com:liuzc/LeaveIt.git
[submodule "themes/ezhil"]
	path = themes/ezhil
	url = https://github.com/vividvilla/ezhil
